[pull]
	rebase = false

[core]
	editor = nvim

[user]
	email = saravenpi@tuta.io
	name = Saravenpi

[alias]
	fame = !python -m gitfame

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
