/nvim/.config/nvim/plugged/
/fish/.config/fish/completions/
/fish/.config/fish/conf.d/
/fish/.config/fish/functions/
/fish/.config/fish/fish_variables
/qutebrowser/.config/qutebrowser/bookmarks/
/qutebrowser/.config/qutebrowser/greasemonkey/
/qutebrowser/.config/qutebrowser/quickmarks
