/fish/.config/fish/completions/
/fish/.config/fish/conf.d/
/fish/.config/fish/functions/
/fish/.config/fish/fish_variables
/kity/.config/kitty/kitty-themes/
/gtk-3.0/.config/gtk-3.0/bookmarks
/fonts/.DS_Store

